services:
  - type: web
    name: pourevents-api
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: API_KEY
        generateValue: true
      - key: PORT
        value: "10000"
    healthCheckPath: /health
